<h1>Pages#home</h1>
<h1>THIS IS HOME v !!!!!!!!!!!!!!!!!!!!!!!!!</h1>
<h1>				/\	</h1>
<h1>			   /  \	</h1>
<h1>			  /    \		</h1>
<h1>			 --------		</h1>
<h1>			 |		|</h1>
<h1>			 |	___	|</h1>
<h1>			 |	| |	|</h1>
<h1>			 |__|_|_|</h1>
<p>Find me in app/views/pages/home.html.erb</p>
